
<nav>
  <% if (user) { %>
  <a href="/car">Home</a>
  <a href="/car/new">Add new car</a>


  <a href="/auth/sign-out">Sign Out</a>

  <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>

  <% } %>
    <l>CAR Tracker</l>
</nav>
