<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%- include('../partials/_head.ejs', { title: "Page Title", pageCss: "/stylesheets/component.css" }) %>

  <title>Document</title>
</head>
<body>
  <nav>
  <% if (user) { %>
  <a href="/car">Home</a>
  <a href="/car/new">Add new car</a>


  <a href="/auth/sign-out">Sign Out</a>

  <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>

  <% } %>
    <l>CAR Tracker</l>
</nav>
</body>
</html>

