.page-container {
  display: flex;
  flex-direction: column;
  justify-content:space-around; 

  min-height: 400px; 
  text-align: center;
  padding: 20px;
  max-width: 900px;
  margin: 30px auto;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.car-list {
  list-style: none;
  padding: 1px 16px;
  margin: 10px auto;
  width: 90%;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 2px;
  


}

.car-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 90%; 
  padding: 6px 20px ;
  border-color:  solid  #463e3e;
  box-shadow: 2px 5px 14px rgba(0,0,0,0.1);
  margin: 15px auto;
  
}
.left{
  text-align:left;
  font-size: 18px;
}

.right{
  text-align: right;
}


h1 {
  font-size: 36px;
  color: #0077cc;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  color: #555;
  margin-top: 0;      
  margin-bottom: 15px; 
}


p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #005fa3;
  text-decoration: underline;
}


h3 a {
  margin: 10px 10px;
}
