:root {
  --primary: #3498db;
  --primaryDark: #217dbb;
  --danger: #e74c3c;
  --dangerDark: #c0392b;
  --white: #ffffff;
  --text: #333333;
  --border: #ddd;
  --background: #f9f9f9;
  --font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
}



button {
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}

.page-container {
  max-width: 1000px;    
  margin: 50px auto;    
  padding: 0 23px;     
}

