<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user home page</title>
</head>
<body>
    <h1>Owend cars</h1>


      <ul>
      <% ownedCar.forEach((cars)=>{ %>
        <li>
          <a href="/users/<%= user._id %>/applications/<%=cars._id%>">
            <%= cars.model %> at <%= cars.year %>
          </a>
        </li>
      <% }) %>
    </ul>
</body>
</html>