<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include('../partials/_head.ejs', { title: "Add New Car", pageCss: "/stylesheets/pages/car.css" }) %>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="page-container">
      <h1>Add a New Car</h1>

      <form action="/users/<%= user._id %>/car" method="POST">
        <label for="model">Car model:</label>
        <input type="text" name="model" id="model" required/>

        <label for="manufacturer">Manufacturer:</label>
        <input type="text" name="manufacturer" id="manufacturer" required />

        <label for="year">Manufacturer year:</label>
        <input type="number" name="year" id="year" />

          <label for="numberPlate">Number Plate:</label>
        <input type="number" name="numberPlate" id="numberPlate"  />


        <label for="insuranceCo">Insurance Company:</label>
        <input type="text" name="insuranceCo" id="insuranceCo" />

        <label for="insuranceDate">Insurance renew date:</label>
        <input type="date" name="insuranceDate" id="insuranceDate" />

        <label for="registrationDate">Registration Date:</label>
        <input type="date" name="registrationDate" id="registrationDate" />

        <label for="nextMaintenancetype">Next maintenance type:</label>
        <select id="nextMaintenancetype" name="nextMaintenancetype">
          <option value=""> </option>
          <option value="interin">Interim</option>
          <option value="full services">Full Services</option>
          <option value="major services">Major Services</option>
        </select>

        <label for="nextMaintenanceAfter">Next maintenance after (KM):</label>
        <input type="number" name="nextMaintenanceAfter" id="nextMaintenanceAfter" />

        <label for="detail">More car detail:</label>
        <textarea name="detail" id="detail"></textarea>

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
